{% extends 'base.html' %} {% block content %}

<!-- SHAPE -->

<!-- FEATURES -->
<section class="bg-gradient-dark-black mt-n11 pt-12 pb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center">
        <!-- Heading -->
        <h2 class="display-3 fw-bold text-white">Model Training</h2>

        <!-- Text -->
        <p class="lead text-body-secondary mb-9">
          Prediksi menggunakan model Klasifikasi dengan Random Forest
        </p>
      </div>
    </div>
    <!-- / .row -->

    <div class="d-flex justify-content-center">
      <!-- Visualisasi random forest -->
      <div class="rounded-3 m-2 d-flex justify-content-center">
        <div
          class="card card-bleed shadow-light-lg mb-6 bg-dark"
          style="width: 500px; height: 400px"
        >
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <!-- Heading -->
                <h4 class="display-5 fw-bold text-white mb-0">
                  Visualisasi Random Forest
                </h4>
              </div>
            </div>
          </div>
          <div class="card-body d-flex justify-content-center">
            <div class="" style="width: 500px; height: 250px">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="rounded-3 m-2 d-flex justify-content-center">
        <div
          class="card card-bleed shadow-light-lg mb-6 bg-dark"
          style="width: 500px; height: 400px"
        >
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <!-- Heading -->
                <h4 class="display-5 fw-bold text-white mb-0">
                  Jumlah Churn dan tidak Churn
                </h4>
              </div>
            </div>
          </div>
          <div class="card-body d-flex justify-content-center">
            <div class="" style="width: 250px; height: 250px">
              <canvas id="churnChart2"></canvas>
              <script src="{{url_for('static',filename='src/churnDoughnut.js')}}"></script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center">
        <h2 class="display-4 fw-bold text-white mt-9">Perbandingan</h2>
        <p class="lead text-body-secondary mb-9">
          Perbandingan dengan model lain menggunakan diagram ROC
        </p>
      </div>
    </div> -->

    <!-- diagram ROC -->
    <!-- <div class="rounded-3 m-2 d-flex justify-content-center">
      <div
        class="card card-bleed shadow-light-lg mb-6 bg-dark"
        style="width: 800px; height: 500px"
      >
        <div class="card-body d-flex justify-content-center">
          <div class="" style="width: 700px; height: 400px">
            <canvas id="rocChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

    <script>
      const ctx = document.getElementById('myChart').getContext('2d');
      const chart = new Chart(ctx, {
          type: 'scatter',
          data: {
              datasets: [{
                  label: 'Node Weights',
                  data: [
                      {% for item in data_for_chart %}
                      { x: {{ item.x }}, y: {{ item.y }} },
                      {% endfor %}
                  ],
                  backgroundColor: 'rgba(54, 162, 235, 0.5)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1,
                  pointBackgroundColor: 'rgba(54, 162, 235, 1)', // Warna titik
                  pointBorderColor: 'white', // Warna border titik
                  pointRadius: 5, // Ukuran titik
                  pointHoverRadius: 7 // Ukuran titik saat hover
              }]
          },
          options: {
              scales: {
                  x: {
                      title: {
                          display: true,
                          text: 'Feature Index',
                          color: 'white' // Warna tulisan sumbu X
                      },
                      grid: {
                          color: 'white' // Warna garis grid sumbu X
                      },
                      ticks: {
                          color: 'white' // Warna angka pada sumbu X
                      }
                  },
                  y: {
                      title: {
                          display: true,
                          text: 'Node Weight',
                          color: 'white' // Warna tulisan sumbu Y
                      },
                      grid: {
                          color: 'white' // Warna garis grid sumbu Y
                      },
                      ticks: {
                          color: 'white' // Warna angka pada sumbu Y
                      }
                  }
              },
              plugins: {
                  legend: {
                      labels: {
                          color: 'white' // Warna tulisan legenda
                      }
                  }
              }
          }
      });
    </script>
    {% endblock %}
  </div>
</section>
