{% extends 'base.html' %}

{% block content %}


    <!-- SHAPE -->
    

    <!-- FEATURES -->
    <section class="bg-gradient-dark-black mt-n11 pt-12 pb-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-7 text-center">

            <!-- Heading -->
            <h2 class="display-3 fw-bold text-white">
              Model Training
            </h2>

            <!-- Text -->
            <p class="lead text-body-secondary mb-9">
              Machine Learning Build Up
            </p>

          </div>
        </div> <!-- / .row -->

        <!-- card start -->
        <div class="row mt-n7 justify-content-center">
          
         <!-- First Card -->
         <div class="col-12 col-sm-6 col-lg-6 mt-7 rounded-3">
          <div class="card card-bleed shadow-light-lg mb-6 bg-dark">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <!-- Heading -->
                  <h4 class="display-5 fw-bold text-white mb-0">Performa Model</h4>
                </div>
              </div>
            </div>
        
            <div class="card-body">
              <!-- List group -->
              <div class="list-group list-group-flush bg-dark">
                
                <!-- First list group item -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="mb-0 display-5 text-white fw-bold">Metric</h5>
                    </div>
                    <div class="col-auto">
                      <h5 class="display-5 text-white fw-bold">Score</h5>
                    </div>
                  </div>
                </div>
        
                <!-- Second list group item (Accuracy) -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <span class="mb-0 display-5 text-white">Accuracy</span>
                    </div>
                    <div class="col-auto">
                      <span class="display-5 text-white">0.88</span>
                    </div>
                  </div>
                </div>
        
                <!-- Third list group item (Precision) -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <p class="mb-0 display-5 text-white">Precision</p>
                    </div>
                    <div class="col-auto">
                      <span class="display-5 text-white">0.75</span>
                    </div>
                  </div>
                </div>
        
                <!-- Fourth list group item (Recall) -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <p class="mb-0 display-5 text-white">Recall</p>
                    </div>
                    <div class="col-auto">
                      <span class="display-5 text-white">0.80</span>
                    </div>
                  </div>
                </div>
        
                <!-- Fifth list group item (F1 Score) -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <p class="mb-0 display-5 text-white">F1 Score</p>
                    </div>
                    <div class="col-auto">
                      <span class="display-5 text-white">0.81</span>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
        </div>


        <!-- Second Card -->
        <div class="col-12 col-sm-6 col-lg-6 mt-7 rounded-3">
          <div class="card card-bleed shadow-light-lg mb-6 bg-dark">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <!-- Heading -->
                  <h4 class="display-5 fw-bold text-white mb-0">Performa Model</h4>
                </div>
              </div>
            </div>
        
            <div class="card-body">
              <!-- List group -->
              <div class="list-group list-group-flush bg-dark">
                
                <!-- First list group item -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="mb-0 display-5 text-white fw-bold">Metric</h5>
                    </div>
                    <div class="col-auto">
                      <h5 class="display-5 text-white fw-bold">Score</h5>
                    </div>
                  </div>
                </div>
        
                <!-- Second list group item (Accuracy) -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <span class="mb-0 display-5 text-white">Accuracy</span>
                    </div>
                    <div class="col-auto">
                      <span class="display-5 text-white">0.88</span>
                    </div>
                  </div>
                </div>
        
                <!-- Third list group item (Precision) -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <p class="mb-0 display-5 text-white">Precision</p>
                    </div>
                    <div class="col-auto">
                      <span class="display-5 text-white">0.75</span>
                    </div>
                  </div>
                </div>
        
                <!-- Fourth list group item (Recall) -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <p class="mb-0 display-5 text-white">Recall</p>
                    </div>
                    <div class="col-auto">
                      <span class="display-5 text-white">0.80</span>
                    </div>
                  </div>
                </div>
        
                <!-- Fifth list group item (F1 Score) -->
                <div class="list-group-item bg-dark">
                  <div class="row align-items-center">
                    <div class="col">
                      <p class="mb-0 display-5 text-white">F1 Score</p>
                    </div>
                    <div class="col-auto">
                      <span class="display-5 text-white">0.81</span>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>

  
    {% endblock %}
